<section class="page-comments">
  <hr>

  <h2>Comments</h2>

  <script src="https://giscus.app/client.js"
          data-repo="Oerik576/Oerik-website"
          data-repo-id="R_kgDOVThpzA"
          data-category="Comments"
          data-category-id="DIC_kwDOTVhpzM4DEaxQ"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>