{{ define "main" }}
<div class="standard-page">

  <article class="standard-page-content">

    <h1>{{ .Title }}</h1>

    {{ if not .Params.hideDate }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}

      <div class="page-meta">
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
    {{ end }}

    {{ .Content }}

{{ if eq .Params.type "campaign-journal" }}

  {{ with .GetTerms "tags" }}
    <footer class="dispatch-article-footer">
      <div class="dispatch-article-tags">
        <strong>Tags:</strong>
        {{ range . }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
    </footer>
  {{ end }}

  {{ partial "comments.html" . }}

{{ end }}

  </article>

</div>

{{ end }}