<aside class="dispatch-info-box">

    <h3>{{ .Get "title" }}</h3>

    <div class="dispatch-info-columns">

        <div class="dispatch-info-column">
            <p><strong>{{ .Get "left-title" }}</strong></p>
            <ul>
                {{ range split (.Get "left") "|" }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>

        <div class="dispatch-info-column">
            <p><strong>{{ .Get "right-title" }}</strong></p>
            <ul>
                {{ range split (.Get "right") "|" }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>

    </div>

    {{ with .Get "footer" }}
        <p class="dispatch-info-footer">{{ . }}</p>
    {{ end }}

</aside>